img{width: 150px
	height: 150px;
	border-radius: 50%;}
h1 {text-align: center;color:saddlebrown;} 
h3 {color:saddlebrown;}
p {color:saddlebrown;} 
ul {color:saddlebrown;font-size: 20px}
body {background-color:papayawhip;}
